<html>
<head>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body><center>
	<div id="app">
		<div id="loginDiv" v-if="currentScreen === 'login'">
			<label for="usernameBox" id="usernameLabel">Username</label>
	        <div id="usernameDiv">
	            <input type="text" spellcheck="false" id="usernameBox" v-model="username" autofocus>
	        </div>
	        <button id="loginButton" v-on:click="login">Login</button>
		</div>

		<div id="lobbiesDiv" v-if="currentScreen === 'lobbies'">
			<select id="lobbyListSelect" size="20" v-model="lobbySelection">
				<option v-for="lobby in lobbies" v-bind:value="lobby.name">{{ lobby.name }} ({{ lobby.players.length }}/{{ lobby.numPlayers }})</option>
			</select>
			<p>
				<button id="createButton" v-on:click="createLobby">Create Game</button>
				<button id="joinButton" v-on:click="joinLobby">Join Game</button>
			</p>
		</div>

		<div id="lobbyCreationDiv" v-if="currentScreen === 'lobbyCreation'">
			<label for="gameNameBox" id="gameNameLabel">Game Name</label>
	        <div id="gameNameDiv">
	            <input type="text" spellcheck="false" id="gameNameBox" v-model="gameName" autofocus>
	        </div>
	        <label for="numPlayers" id="numPlayersLabel">Number of players</label>
	        <div id="gameNameDiv">
	            <input type="number" id="numPlayersBox" v-model="numPlayers" value="1" autofocus>
	        </div>
	        <button id="createGameButton" v-on:click="createGame">Create!</button>
		</div>

		<div id="gameLobbyDiv" v-if="currentScreen === 'gameLobby'">
			<div id="usersList" class="list-group">
				<div class="list-group-item" v-for="user in curLobbyUsers" v-bind:style="{ color: user.teamColor }" v-on:click="changeTeamColor(user.username)">
					{{ user.username }} 
					<span class="pull-right">
						<button class="kickUserButton" v-on:click="kick(user.username)">X</button>
					</span>
				</div>
			</div>
			<p>
				<button id="leaveButton" v-on:click="leaveLobby">Leave Game</button>
				<button id="startButton" v-on:click="startGame" v-if="curLobbyUsers[0].username == username">Start Game</button>
			</p>
		</div>

		<div id="gameDiv" v-if="currentScreen === 'playing'">
			<canvas id="canvas" v-on:keydown="gameKeydown" v-on:keyup="gameKeyup" tabindex="1"></canvas>
			<p style="font-size:35px">Red {{ scores[0] }} | {{ scores[1] }} Blue</p>
		</div>
	</div>

	<script src="UI.js"></script>
	<script src="Network.js"></script>
	<script src="Game.js"></script>
	<script src="Map.js"></script>
	<script src="Powerups.js"></script>
	<script src="Inputs.js"></script>
	<script src="DMath.js"></script>
	<script src="Global.js"></script>
	<script src="Render.js"></script>
</center></body>
</html>